p{
    font-family: Roboto,Arial;
    margin-top: 0;
    margin-bottom: 0;
}
.search{
    margin-left: 12px;
    display: block;
}
    
.thumbnail{
    width: 300px; 
    display: block;
    margin-bottom: 12px;
}

.video-title{
    width: 220px;
    margin-top: 0px;
    font-family:Roboto,arial;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
}

.video{
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}

.channel-pic{
    display: inline-block;
    width: 50px;
    vertical-align: top;
}

.video-desc{
    display: inline-block;
    width: 200px;
}

.profile-pic{
    width: 40px;
    border-radius: 25px;
}

.video-author,.video-stats{
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.video-author{
    margin-bottom: 4px;
}

