p{
    font-family: Roboto,Arial;
    margin-top: 0;
    margin-bottom: 0;
}
.search{
    margin-left: 12px;
    display: block;
}
    
.video-grid{
display: grid;
grid-template-columns: 1fr 1fr 1fr ;
column-gap: 16px;
row-gap: 40px;
}

.thumbnail{
    margin-bottom: 12px;
    width: 100%;
}

.video-title{
    width: 220px;
    margin-top: 0px;
    font-family:Roboto,arial;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 12px;
}


.video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}


.profile-pic{
    width: 40px;
    border-radius: 25px;
}

.video-author,.video-stats{
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.video-author{
    margin-bottom: 4px;
}

