
#subscribe{
    background-color: rgb(200, 0, 0);
    color: white;
    border: none;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity .15s;
    vertical-align: top;
}

#subscribe:hover{
    opacity: 0.8;
}
#subscribe:active{
    opacity: 0.5;
}

#join{
    background-color: white;
    color: rgb(2, 42, 134);
    border-color: rgb(2, 42, 134);
    border-style: solid;
    border-width: 1.5px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8.8px;
    padding-bottom: 8.8px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color .15s , color .15s;
    vertical-align: top;
}

#join:hover{
    background-color: rgb(2, 42, 134);
    color:white;
}
#join:active{
    opacity: .7;
}
#tweet{
color: white;
background-color: rgb(10, 104, 210);
padding-left: 20px;
    padding-right:20px;
    padding-top: 10px;
    padding-bottom: 10px;
border-radius: 18px;
border: none;
cursor: pointer;
font-weight: bold;
font-size: 15;
transition: box-shadow .15s;
vertical-align: top;
}

#tweet:hover{
    box-shadow: 3px 5px 16px rgba(0 , 0 , 0 , .15);
}
