/* Video grid container */
.video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
}

@media(max-width: 750px) {
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width:751px) and (max-width:999px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(min-width:1000px){
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

/* Video thumbnail */
.thumbnail {
    width: 100%;
}

/* Video title */
.video-title {
    width: 220px;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: Roboto, Arial;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}

/* Video info grid (author + stats) */
.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
}

/* Profile picture */
.profile-pic {
    width: 36px;
    border-radius: 25px;
}

/* Video author and stats */
.video-author,
.video-stats {
    font-size: 12px;
    color: rgb(96, 96, 96);
}

.video-author {
    margin-bottom: 4px;
}

.video-time{
    background-color: black;
    color: white;
    position:absolute;
    bottom: 8px;
    right: 5px;
    font-family: roboto,arial;
    font-size: 12px;
    font-weight: bold;
    padding: 4px;
    border-radius: 3px;
}

.thumbnail-row{
    margin-bottom: 8px;
    position: relative;
}
